@import "../../variables.css";

.container {
  background-color: var(--theme-color);
  color: #fff;
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  & svg {
    width: 10em;
  }
}